html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea:focus, input:focus{
    outline: none;
}

body {
    height: 100vh;
    background-color: #202020;
    position: relative;
    overflow-y: hidden;
}

center {
    margin-top: 80px;
}

h2 {
    font-size: 30px;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.search_wrapper {
    position: absolute;
    left: 50%;
    top: 30%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.search_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

input {
    padding: 15px;
    min-width: 100%;
    height: 50px;
    border: 0px;
    font-size: 15px;
    background-color: #121212;
    color: #FFFFFF;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border: 0px;
    padding: 0 15px;
    cursor: pointer;
    background-color: #313131;
    color: #ececec;
    border-radius: 2px;
    position: absolute;
    top: 50px;
    transition: transform .2s;
}

button:hover {
    background-color: #000000;
}

button:active {
    background-color: #000000;
    transform: translateY(10%);
}

.lists {
    display: none;
    min-width: 100%;
}

.lists.active {
    display: block;
    cursor: pointer;

}

img {
    width: 16px;
    height: auto;
    color: #FFFFFF;
}

.lists {
    position: absolute;
    background-color: #FFFFFF;
    width: 300px;
}

li {
    list-style: none;
    font-size: 15px;
    padding: 7px 10px;
    /* font-weight: 500; */
}

li:hover {
    background-color: #ececec;
}

.heading {
    color: #ececec;
}

.delay-bars {
    display: flex;
}

.dbounce-delay {
    margin-right: 20px;
}

.dbounce-bar-wrapper {
    margin-bottom: 40px;
    width: 150px;
    height: 10px;
    background-color: #ececec;
    border-radius: 10px;
}

.dbounce-bar {
    width: 150px;
    height: 10px;
    background-color: rgb(92, 194, 25);
    border-radius: 10px;
}
.throttle-delay {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 20px;
} 
.throttle-bar-wrapper {
    margin-bottom: 40px;
    width: 150px;
    height: 10px;
    background-color: #ececec;
    border-radius: 10px;
}

.throttle-bar {
    width: 150px;
    height: 10px;
    background-color: rgb(245, 7, 46);
    border-radius: 10px;
}

h4 {
    color: #ececec;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.snackbar {
    visibility: hidden;
    color: #FFFFFF;
    max-width: 250px;
    padding: 1px 100px;
    border-radius: 1px;
    text-align: center;
    background-color: #4CB050;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    box-shadow: 0 0 0 1px rgba(9, 9, 9, 0.1);
}

.snackbar.snackbar-enabled {
    visibility: visible;
}